.row {
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content:center;
    align-items: center;
    display:flex;
   
}
.headerContact {
    background-image: url('../images/contact-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 60px;
    margin-top: 60px;
    justify-content:center;
    align-items: center;
    display:flex;
}

.contact-form{
    display:table;
    margin:auto
}

.buttonType {
    border-radius: 8px;
}

.button:hover {
    background-color: #242323;
    color: white;
  }

  .logos {
    height: 50px;
    width: 50px;
  }