.row {
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content:center;
    align-items: center;
    display:flex;
   
}

.button {
    border-radius: 8px;
}

.button:hover {
    background-color: #242323; /* Green */
    color: white;
  }