.body{
    background-color: rgb(33, 37, 41);
}
.container-fluid {
    font-family: 'Avenir', sans-serif; 
    color: #33475b; 
    background-color: rgb(33, 37, 41);
    padding-bottom: 25px;
    
}

.h3 {
    border: 3px solid green;
    font-family: 'Avenir', sans-serif; 
    color: #33475b; 
}