

.Container {
    margin: auto;
    width: auto; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #33475b; 
    background-color: rgb(33, 37, 41);
    
}

.h3 {
    border: 3px solid green;
    font-family: 'Avenir', sans-serif; 
    color: #33475b; 
}