body, html {
    font-family: Arial, Helvetica, sans-serif;
}

.headerId {
    background-image: url('../images/city-break-hotels-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    margin-bottom: 60px;
    justify-content:center;
    align-items: center;
    display:flex;
}


.header-title {
    color: black;
}

.rating {
   text-indent: 1em;
    font-size: 20px;
}
.card-body {
    background-color: white; 
}

.card-text {
    text-align: left;
}

.card-title{
    text-align: left;
}
